{% extends "base_page.html" %}

{% block page-title %}
Добавить информацию о текущем прогрессе за день
{% endblock %}

{% block page-lead %}
Заполните нужные поля для добавления информации о своём прогрессе.
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Ваш прогресс</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="new_date">Дата</label>
                <input type="text" class="form-control input-lg" name="new_date" id="new_date" placeholder="yyyy.mm.dd">
            </div>
            <div class="col-md-6">
                <label for="new_n">Изучено слов</label>
                <input type="text" class="form-control input-lg" name="new_n" id="new_n">
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-progress">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
